  <h4>Add a comment:</h4>
  <%= form_for [topic, post, comment] do |f| %>
    <%= f.label "Do you have something to say?" %>
    <%= f.text_area :body, rows: 4, class: 'form-control', placeholder: "Add a comment here" %>
    <% end %>

    <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success'%>
   </div%>

