<div class="row">
  <div class="col-md-4">
  	<h1> About Bloccit</h1>
  	<h3> Created by: Cheryl Troup</h3>
  	<p> Bloccit is a Reddit replica that lets users post, vote on, share, save links and comment. </p>
  </div>
</div>