 <div class="container">
	 <ul class="nav nav=tabs"></ul>
	 <div class="row">
	 	<div class="col-md-4">
	 		<h1> About Bloccit</h1>
	 			<p> Created by: Me</p>	
	 		 <%= link_to "Follow me", "http://www.facebook.com/trybloc", class: "social-btn" %>
 	   </div>
    </div>
	 </div>
	
